<% content_for :title do %>
  <% "Forgot your password?" %>
<% end %>
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <fieldset>
    <legend>Forgot your password?</legend>
    <%= f.input :login, :required => true, :autofocus => true, :hint => "reset with handle or email" %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, "Send me reset password instructions", :class => "btn btn-warning" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
