<h1>Submission List</h1>
<ul>
  <% @submissions.each do |submission| %>
    <li>
    <%= submission.id %>
    <%= submission.problem_id %>
    <%= language_list.invert[submission.language] %>
    </li>
  <% end %>
</ul>
