# Set application configuration variables here.

# Set site admin account credentials.
ADMIN_HANDLE:	""
ADMIN_EMAIL:	""
ADMIN_PASSWORD:	""

# Set OJ account credentials.
POJ_HANDLE:	""
POJ_PASSWORD:	""

# Set max problem level.
MAX_LEVEL:	10

# Set footer information.
# Modifiy the footer seciton in app/views/layouts/application.html.erb
# if you need advanced customization.
FOOTER:		'Powered by <a href=""></a>'
