<div id="submit_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="submit_label" aria-hidden="true">
  <%= simple_form_for [@problem, @submission], :html => { :style => "margin:0px" } do |form| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="submit_label">Submit your code</h3>
    </div>
    <div class="modal-body">
      <fieldset>
        <%= form.input :language, :as => :radio_buttons, :item_wrapper_class => "inline", :collection => OJ.language_collection(@problem) %>
        <%= form.input :code, :input_html => { :style => "width:96%", :rows => 10 } %>
      </fieldset>
    </div>
    <div class="modal-footer">
      <%= form.submit "Submit", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
